<!-- footer.component.html 
<footer class="align-bottom font-extralight text-opacity-45 text-center ">
  <p>Todos os direitos reservados.</p>
  <p>Nenhuma das fotos pertence ao site.</p>
  <p>Site desenvolvido para estudos.</p>

  
</footer>
-->
<footer class="bg-base-200 text-center text-base-content py-4 mt-auto">
  <div class="container mx-auto">
    <p>Todos os direitos reservados.</p>
    <p>Nenhuma das fotos pertence ao site.</p>
    <p>Site desenvolvido para estudos.</p>    
    <p class="mt-2">© 2024 Meu Projeto</p>
  </div>
</footer>